In [1]:
# evaluate a persistence forecast model
from pandas import read_csv
import datetime
from pandas import DataFrame, Series
from pandas import concat, merge
from matplotlib import pyplot
from sklearn.metrics import mean_squared_error
from math import sqrt
from numpy import concatenate, savetxt, unique, array, subtract
from statistics import mean

In [2]:
# make a prediction using data from a single meter
# load dataset
dataset = read_csv('CHL_Monthly_Stacked.csv', header=0, sep='[,]', parse_dates=True, squeeze=True, dayfirst=True, engine='python') 
meter_ids = unique(dataset['MeterNo'])
print(meter_ids)
df2 = DataFrame(index =['Date'], columns=['prediction', 'actual', 'error','mse'])

[101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118
 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136
 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154
 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172
 173 174 175 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 301 302 303 304 305 306 307 308 309 310 311 312
 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330
 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348
 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366
 367 368 369 370 371 372 373 374 375 401 402 403 404 405 406 407 408 409
 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427
 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460]

In [3]:
for m in meter_ids:
    series = read_csv('CHL_Monthly_Stacked.csv', header=0, sep='[,]', parse_dates=True, squeeze=True, dayfirst=True, engine='python') 
    series.columns =['MeterNo', 'WeekNo', 'kWh']
    series = series.set_index(['WeekNo'])
    series = series.loc[series['MeterNo'] == m]
    series.drop(series.columns[[0]], axis = 1, inplace = True)
    
    # create lagged dataset
    values = DataFrame(series.values)
    dataframe = concat([values.shift(1), values], axis=1)
    dataframe.columns = ['t', 't+1']
    dataframe = dataframe.dropna()
    #print(dataframe.head(5))
    # split into train and test sets
    X = dataframe.values
    train_size = int(len(X) * 0.66)
    train, test = X[1:train_size], X[train_size:]
    train_X, train_y = train[:,0], train[:,1]
    test_X, test_y = test[:,0], test[:,1]
    # persistence model
    def model_persistence(x):
        return x
    # walk-forward validation
    predictions = list()
    for x in test_X:
        yhat = model_persistence(x)
        predictions.append(yhat)
        
    # calculate actual Error
    prediction = mean(predictions)
    actual = mean(test_y)
    mse = mean_squared_error(test_y, predictions)
    rmse = sqrt(mean_squared_error(test_y, predictions))
    error = mean(subtract(test_y, predictions))
    
    test_y = DataFrame(test_y, columns = ['kWh'])
    predictions = DataFrame(predictions, columns = ['kWh']) 
        
    #print('MeterNo %s - Prediction: %.3f - Actual: %.3f - Error: %.3f - Test MSE: %.3f - Test RMSE: %.3f' % (m, prediction, actual, error, mse, rmse))
    df1 = merge(predictions, test_y, left_index=True, right_index=True)
    df1.columns =['prediction', 'actual']
    df1['error'] = df1['prediction'] - df1['actual']
    df1['mse'] = round(df1['error'] ** 2,2)
    df1['rmse'] = abs(df1['error'])
    #print(df1)
    df2 = df2.append(df1)

In [4]:
# Each meter per week
df2 = df2.dropna()
print(df2)

    prediction  actual  error       mse   rmse
0        139.0   118.0   21.0     441.0   21.0
1        118.0   117.0    1.0       1.0    1.0
2        117.0   114.0    3.0       9.0    3.0
3        114.0    92.0   22.0     484.0   22.0
4         92.0    85.0    7.0      49.0    7.0
..         ...     ...    ...       ...    ...
28       368.0   653.0 -285.0   81225.0  285.0
29       653.0  1114.0 -461.0  212521.0  461.0
30      1114.0  1721.0 -607.0  368449.0  607.0
31      1721.0  1797.0  -76.0    5776.0   76.0
32      1797.0  1719.0   78.0    6084.0   78.0

[9405 rows x 5 columns]

In [5]:
# Summary of each meter for each week
def Summary(x):
    return round(Series(index=['min','max', 'mean','sum','count'],data=[x.min(),x.max(),x.mean(),x.sum(),x.count()]),2)
df2.apply(Summary)

       prediction     actual     error           mse       rmse
min      -1821.00    -1821.0  -1205.00  0.000000e+00       0.00
max       2152.00     2152.0   1435.00  2.059225e+06    1435.00
mean       349.89      356.9     -7.01  1.071624e+04      66.85
sum    3290689.00  3356663.0 -65974.00  1.007863e+08  628690.00
count     9405.00     9405.0   9405.00  9.405000e+03    9405.00

In [6]:
# Sum of all meters for each week
df2.drop(df2.columns[[2,3,4]], axis = 1, inplace = True)
df3 = df2.groupby(df2.index)['prediction','actual'].sum()
df3['error'] = round(((df3['prediction'] - df3['actual'])),2)
df3['mse'] = round(df3['error'] ** 2,2)
df3['rmse'] = abs(df3['error'])
df3['%error'] = (df3['error']/df3['actual'])*100
print(df3)
df3.to_csv('CHL_SARIMA_Monthly_Persistence.csv')

    prediction    actual    error           mse     rmse     %error
0      81000.0   63843.0  17157.0  2.943626e+08  17157.0  26.873737
1      63843.0   57862.0   5981.0  3.577236e+07   5981.0  10.336663
2      57862.0   54026.0   3836.0  1.471490e+07   3836.0   7.100285
3      54026.0   73016.0 -18990.0  3.606201e+08  18990.0 -26.007998
4      73016.0   86413.0 -13397.0  1.794796e+08  13397.0 -15.503454
5      86413.0  113038.0 -26625.0  7.088906e+08  26625.0 -23.554026
6     113038.0  132271.0 -19233.0  3.699083e+08  19233.0 -14.540602
7     132271.0  136168.0  -3897.0  1.518661e+07   3897.0  -2.861906
8     136168.0  124168.0  12000.0  1.440000e+08  12000.0   9.664326
9     124168.0  123163.0   1005.0  1.010025e+06   1005.0   0.815992
10    123163.0  109928.0  13235.0  1.751652e+08  13235.0  12.039699
11    109928.0   86331.0  23597.0  5.568184e+08  23597.0  27.333171
12     86331.0   64729.0  21602.0  4.666464e+08  21602.0  33.372986
13     64729.0   60202.0   4527.0  2.049373e+07   4527.0   7.519684
14     60202.0   55487.0   4715.0  2.223122e+07   4715.0   8.497486
15     55487.0   73882.0 -18395.0  3.383760e+08  18395.0 -24.897810
16     73882.0   91639.0 -17757.0  3.153110e+08  17757.0 -19.377121
17     91639.0  119355.0 -27716.0  7.681767e+08  27716.0 -23.221482
18    119355.0  152017.0 -32662.0  1.066806e+09  32662.0 -21.485755
19    152017.0  157644.0  -5627.0  3.166313e+07   5627.0  -3.569435
20    157644.0  153167.0   4477.0  2.004353e+07   4477.0   2.922953
21    153167.0  132075.0  21092.0  4.448725e+08  21092.0  15.969714
22    132075.0  102761.0  29314.0  8.593106e+08  29314.0  28.526386
23    102761.0   86880.0  15881.0  2.522062e+08  15881.0  18.279236
24     86880.0   70208.0  16672.0  2.779556e+08  16672.0  23.746582
25     70208.0   65112.0   5096.0  2.596922e+07   5096.0   7.826514
26     65112.0   59640.0   5472.0  2.994278e+07   5472.0   9.175050
27     59640.0   68140.0  -8500.0  7.225000e+07   8500.0 -12.474318
28     68140.0   97677.0 -29537.0  8.724344e+08  29537.0 -30.239463
29     97677.0  121306.0 -23629.0  5.583296e+08  23629.0 -19.478839
30    121306.0  157891.0 -36585.0  1.338462e+09  36585.0 -23.171048
31    157891.0  159650.0  -1759.0  3.094081e+06   1759.0  -1.101785
32    159650.0  146974.0  12676.0  1.606810e+08  12676.0   8.624655

<ipython-input-6-a4839f81c055>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df3 = df2.groupby(df2.index)['prediction','actual'].sum()

In [7]:
# Summary of the sum of all meters for each week
df3.apply(Summary)

       prediction      actual     error           mse       rmse  %error
min      54026.00    54026.00 -36585.00  1.010025e+06    1005.00  -30.24
max     159650.00   159650.00  29314.00  1.338462e+09   36585.00   33.37
mean     99717.85   101717.06  -1999.21  3.273086e+08   15231.64   -0.09
sum    3290689.00  3356663.00 -65974.00  1.080118e+10  502644.00   -2.86
count       33.00       33.00     33.00  3.300000e+01      33.00   33.00